{{ define "main" }}
<div class="album-container">
    <div class="album-header">
        <div class="album-details-large">
            <h1>{{ .Title }}</h1>
            <p class="album-details">{{ .Params.artist }} ({{ .Params.year }})</p>
        </div>
    </div>

    <div class="links-section">
        <h3>Links</h3>
        <ul class="album-links">
            {{ range .Params.links }}
            <li><a href="{{ .url }}">{{ .label }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
